// IMPORT
@import 'variables';
@import 'mixins';

// RESET
* {
  @include reset(0, 0, border-box, none, none);
  font-family: $font;
}

// BODY
html,
body {
  height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: $grey;
  color: $white;
}

// BODY BGS
.bgLight {
  background: $white;
}

.bgDark {
  background: $grey;
}

// CODE
code {
  font-family: $font;
}

// TYPOGRAPHY
p {
  font-weight: $light;
  line-height: 1.5em;
  letter-spacing: 0.2px;
}

a {
  letter-spacing: 0.4px;
}

h1,
h2,
h3,
h4,
li,
i,
a,
svg,
input,
img,
.brand {
  @include transitions($speed, $speed, $speed, $speed);
}

h1,
h2 {
  font-weight: $bold;
  letter-spacing: 0.8px;
}

h3,
h4,
h5 {
  font-weight: $regular;
  letter-spacing: 0.4px;
}

// SELECTION
::selection {
  background: $black;
}

::-moz-selection {
  background: $black;
}

// FLEX
.flex {
  display: flex;
  flex-direction: row;
}

.flexFooter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

// WRAP
.wrap {
  justify-content: space-between;
}

.wrapStart {
  justify-content: flex-start;
}

.wrapEnd {
  justify-content: flex-end;
}

// LINE
.line {
  border-bottom: 4px solid $lightGrey;
  margin: 20px 5px;
}

.lineNoMar {
  border-bottom: 4px solid $lightGrey;
  margin-bottom: 10px;
  margin: 10px 5px;
}

.lineThin {
  border-bottom: 1px solid $lightGrey;
  margin-bottom: 10px;
  margin-top: 10px;
}

.lineThinFooter {
  border-bottom: 1px solid $lightGrey;
  margin-left: 5px;
}

.lineThinAbout {
  border-bottom: 1px solid $lightGrey;
  margin: 15px 0 15px 0;
}

// PAD
.pad {
  padding: 5px;
}

.padLeft {
  padding-left: 0;
}

.padRight {
  padding-right: 0;
}

// MAR
.mar {
  margin: 15px auto;
}

.marTop {
  margin-top: 20px;
}

.marBot {
  margin-bottom: 10px;
}

.marBotProject {
  margin-bottom: 20px;
}

.marBotFooter {
  margin-bottom: 5px;
}

// ALIGN
.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}