// IMPORT
@import "variables";
@import "mixins";

// RESET
* {
	@include reset(0, 0, border-box, none, none);
	font-family: $font;
}

// BODY
body {
	-moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: $grey;
  color: $white;
}

// CODE
code {
  font-family: $font;
}

p {
  font-weight: $light;
}

// SELECTION
::selection {
  background: $black;
}

::-moz-selection {
  background: $black;
}

.box,
button {
  font-family: 'Open Sans', sans-serif;
  border: 1px solid grey;
  border-radius: 3px;
  padding: .5rem;
  margin: .15rem;
  background-color: rgba(0, 20, 50, 0.05);
  font-size: 1rem;
  min-width:10rem;
}

.category--fashion,
.btn-fashion {
  background-color: orange;
}

.category--design,
.btn-design {
  background-color: green;
  color: white;
}

.category--leisure,
.btn-leisure {
  background-color: purple;
  color: white;
}

.category--entertainment,
.btn-entertainment {
  background-color: pink;
}

.btn-all {
  background-color: white;
}

.category__list-item {
  background-color: white;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-col {
   display: flex;
   flex-direction: column;
}

.flex-spread {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.circle{
  border:1px solid grey;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  margin:0 0 0 1rem;
}