// IMPORT
@import "variables";
@import "mixins";

// BOOTSTRAP
.container-fluid {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

// NAV
.navWrap {
  justify-content: end;
}

.navItem {
  cursor: pointer;
}

// FILTER
.filterWrap {
  line-height: 39px;
}

.filterItem {
  cursor: pointer;
}

// TYPE
.typeWrap {
  height: 38px;
  line-height: 38px;
}

.typeBorder {
  border-bottom: 3px solid $lightGrey;
  margin-top: 10px;
  margin-bottom: 10px;
}