// IMPORT
@import 'variables';
@import 'mixins';

// ROOT
#root {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

// BOOTSTRAP
.container-fluid {
	flex-grow: 1;
	margin: 20px auto 0 auto;
	max-width: 1400px;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

.colWrap {
	padding: 5px;
}

// NAV
.navWrap {
	align-items: center;
}

// NAV ITEM DARK
.navItemDARK {
	color: $spotGrey;
	cursor: pointer;
	margin-left: 13px;
	padding-top: 5px;
	border-bottom: 2px solid transparent;
	padding-bottom: 1px;
	&:hover {
		// color: $peach;
		// text-decoration-line: line-through;
		border-bottom: 2px solid $peach;
	}
}

.navItemActiveDARK {
	color: $white;
	border-bottom: 2px solid $peach;
	// color: $peach;
	// text-decoration-line: line-through;
}

// NAV ITEM LIGHT
.navItemLIGHT {
	color: $lightGrey;
	cursor: pointer;
	margin-left: 13px;
	padding-top: 5px;
	border-bottom: 2px solid transparent;
	padding-bottom: 1px;
	&:hover {
		color: $grey;
		border-bottom: 2px solid $peach;
	}
}

.navItemActiveLIGHT {
	color: $grey;
	border-bottom: 2px solid $peach;
}

// NAV BRAND DARK
.brandDARK {
	color: $yellow;
	cursor: pointer;
	border-bottom: 2px solid transparent;
	padding-bottom: 1px;
	font-weight: $bold;
	letter-spacing: 0.4px;
	@include transitions($speed, $speed, $speed, $speed);
	&:hover {
		border-bottom: 2px solid $yellow;
		color: $yellow;
	}
}

.brandDARK a {
	color: $yellow;
}

// NAV BRAND LIGHT
.brandLIGHT {
	color: $blue;
	cursor: pointer;
	border-bottom: 2px solid transparent;
	padding-bottom: 1px;
	font-weight: $bold;
	letter-spacing: 0.4px;
	@include transitions($speed, $speed, $speed, $speed);
	&:hover {
		border-bottom: 2px solid $blue;
		color: $blue;
	}
}

.brandLIGHT a {
	color: $blue;
}

// TYPE
.typeWrap {
	line-height: 40px;
}

#type {
	height: 40px;
}

// SPACE
#space {
	cursor: pointer;
	height: 55vh;
	padding-left: 50px;
	canvas {
		height: 100% !important;
		width: 100% !important;
	}
	@include bp(lg) {
		padding-left: 0;
	}
}

// GALLERY
.galleryWrap {
	line-height: 30px;
	margin-bottom: 10px;
	&:hover .galleryIcon {
		color: $spotGrey;
	}
}

.descriptionWrap {
	margin-top: 2px;
	margin-bottom: 5px;
}

// FILTER MENU
.filterWrap {
	align-items: center;
	margin-bottom: 10px;
}

// FILTER MENU DARK
.filterItemDARK {
	color: $spotGrey;
	cursor: pointer;
	margin-right: 13px;
	border-bottom: 2px solid transparent;
	padding-bottom: 1px;
	&:hover {
		color: $white;
		border-bottom: 2px solid $peach;
	}
}

.filterItemActiveDARK {
	color: $white;
	border-bottom: 2px solid $peach;
}

// FILTER MENU LIGHT
.filterItemLIGHT {
	color: $lightGrey;
	cursor: pointer;
	margin-right: 13px;
	border-bottom: 2px solid transparent;
	padding-bottom: 1px;
	&:hover {
		color: $grey;
		border-bottom: 2px solid $peach;
	}
}

.filterItemActiveLIGHT {
	color: $grey;
	border-bottom: 2px solid $peach;
}

// ABOUT
.aboutListWrap {
	line-height: 1.5em;
	@include bp(lg) {
		margin-bottom: 15px;
	}
}

// ABOUT LIST DARK
.aboutListDARK li {
	color: $spotGrey;
	font-weight: $light;
	line-height: 1.5em;
}

.aboutListDARK a {
	color: $spotGrey;
}

// ABOUT LIST LIGHT
.aboutListLIGHT li {
	color: $lightGrey;
	font-weight: $light;
	line-height: 1.5em;
}

.aboutListLIGHT a {
	color: $lightGrey;
}

// PROJECT
.projectRowDARK {
	background: $white;
	border-bottom: 10px solid $spotGrey;
	border-top: 10px solid $spotGrey;
}

.projectRowLIGHT {
	background: $white;
	border-bottom: 10px solid transparent;
	border-top: 10px solid transparent;
}

.projectWrap {
	padding: 5px;
	margin: 10px auto;
}

.projectWrap img {
	height: auto;
	width: 100%;
}

.projectListItem {
	cursor: default;
	font-weight: $light;
	font-size: 1.2em;
	color: $spotGrey;
	line-height: 1.5em;
	&:hover {
		color: $peach;
	}
}

.projectIconsWrap {
	margin-top: 25px;
}

.prevNextIconWrap {
	margin-top: 20px;
}

.projectsLink {
	font-weight: $regular;
	font-size: 1em;
	border-bottom: 2px solid transparent;
	padding-bottom: 1px;
	&:hover {
		color: $peach;
		border-bottom: 2px solid $peach;
	}
}

// FOOTER
.footer {
	flex-shrink: 0;
	margin: 0 auto 30px auto;
	max-width: 1400px;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
}

.footerWrap {
	line-height: 30px;
}

.footerListWrap {
	line-height: 1.5em;
}

.footerCopyrightDARK {
	margin-top: 5px;
	line-height: 30px;
	color: $yellow;
}

.footerCopyrightLIGHT {
	margin-top: 5px;
	line-height: 30px;
	color: $blue;
}

// FOOTER LINK
.footer a {
	color: $white;
	&:hover {
		color: $peach;
	}
}

// FOOTER LIST DARK
.listDARK li {
	color: $spotGrey;
	font-weight: $light;
	line-height: 1.5em;
}

.listDARK a {
	color: $spotGrey;
	&:hover {
		color: $peach;
	}
}

// FOOTER LIST LIGHT
.listLIGHT li {
	color: $lightGrey;
	font-weight: $light;
	line-height: 1.5em;
}

.listLIGHT a {
	color: $lightGrey;
	&:hover {
		color: $peach;
	}
}

// TOOLTIP
.tooltipWrap {
	cursor: pointer;
	margin-left: 13px;
}

.tooltipWrap:hover .footerIcon {
	color: $peach;
}

// ERROR CONTAINER
.fullPageFixed {
	background: $grey;
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 99;
}

.fullPageFixedInner {
	bottom: 0;
	height: 100px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
