// IMPORT
@import 'variables';
@import 'mixins';

// ROOT
#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

// LOADER
#loader {
  background: $black-t;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

.loader {
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border: 5px solid #ddd;
  border-top: 5px solid $blue;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  position: absolute;
  top: 50%;
}

@-webkit-keyframes spin {
  to {
    border-top-color: $peachPink;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    border-top-color: $peachPink;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// BOOTSTRAP
.container-fluid {
  flex-grow: 1;
  margin: 20px auto 0 auto;
  max-width: 1400px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.colWrap {
  padding: 5px;
}

// NAV
.navWrap {
  align-items: center;
}

.navItem {
  color: $spotGrey;
  cursor: pointer;
  margin-left: 13px;
  border-bottom: 2px solid $grey;
  padding-bottom: 3px;
}

.navItem:hover {
  color: $white;
  border-bottom: 2px solid $peach;
}

.navItemActive {
  color: $white;
  border-bottom: 2px solid $peach;
}

// .navItem:hover .navItemActive {
//   color: $spotGrey;
//   border-bottom: 2px solid $grey;
// }

.brand {
  cursor: pointer;
  border-bottom: 2px solid $grey;
  padding-bottom: 3px;
}

.brand:hover {
  border-bottom: 2px solid $peach;
  color: $white;
}

// TYPE
.typeWrap {
  line-height: 40px;
}

// SPACE
#space {
  cursor: pointer;
  height: 55vh;
  canvas {
    height: 100% !important;
    width: 100% !important;
  }
}

// GALLERY
.galleryWrap {
  line-height: 30px;
  margin-bottom: 10px;
}

.galleryWrap:hover .galleryIcon {
  color: $spotGrey;
}

.filterWrap {
  align-items: center;
  margin-bottom: 10px;
}

.filterItem {
  color: $spotGrey;
  cursor: pointer;
  margin-right: 13px;
  border-bottom: 2px solid $grey;
  padding-bottom: 3px;
}

.filterItem:hover {
  color: $white;
  border-bottom: 2px solid $peach;
}

.filterItemActive {
  color: $white;
  border-bottom: 2px solid $peach;
}

// PROJECT
.projectWrap {
  padding: 5px;
  margin: 10px auto;
}

.projectWrap img {
  height: auto;
  width: 100%;
}

.projectListItem {
  cursor: default;
  font-weight: $bold;
  font-size: 1.2em;
  color: $lightGrey;
}

.prevNextIconWrap {
  margin-top: 20px;
}

// FOOTER
.footer {
  flex-shrink: 0;
  margin: 0 auto 40px auto;
  max-width: 1400px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.footerWrap {
  line-height: 30px;
}

.footerCopyright {
  margin-left: 13px;
  line-height: 50px;
}

.footerTemp {
  line-height: 50px;
  margin-left: 5px;
}
