// IMPORT
@import 'variables';
@import 'mixins';

// FA ICONS
.faIcon {
  cursor: pointer;
  font-size: 25px;
  margin-right: 13px;
}

.projectIcon {
  font-size: 40px;
  // margin-left: 10px;
  margin-right: 15px;
}

.undoIcon {
  color: $lightGrey;
  cursor: pointer;
  font-size: 35px;
}

.prevIcon,
.nextIcon {
  color: $lightGrey;
  cursor: pointer;
  font-size: 40px;
  // margin-right: 40px;
}

// INDIVIDUAL FA ICONS
.fa-adobe {
  color: #ff0000;
}

.fa-sass {
  color: #cf649a;
}

.fa-react {
  color: #61dafb;
}

.fa-bootstrap {
  color: #563d7c;
}

.fa-js {
  color: #f5de19;
}

.fa-git {
  color: #f05033;
}

// ICON ANIMATION
.slow-spin {
  -webkit-animation: fa-spin 4s infinite linear;
  animation: fa-spin 4s infinite linear;
}

// WEATHER
.weatherIcon {
  height: 30px;
  width: 30px;
}
