// IMPORT
@import 'variables';
@import 'mixins';

// IMAGE DARK
.imgWrapDark {
  padding: 5px;
}

.imgWrapDark img {
  cursor: pointer;
  height: auto;
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.imgWrapDark img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

// IMAGE LIGHT
.imgWrapLight {
  padding: 5px;
}

.imgWrapLight img {
  cursor: pointer;
  height: auto;
  width: 100%;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.imgWrapLight img:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}