// imports
@import 'variables';
@import 'mixins';

// image styles
.imgWrapDARK,
.imgWrapLIGHT {
	padding: 5px;
}

.imgWrapDARK img {
	cursor: pointer;
	height: auto;
	width: 100%;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	&:hover {
		-webkit-filter: grayscale(0%);
		filter: grayscale(0%);
	}
}

.imgWrapLIGHT img {
	cursor: pointer;
	height: auto;
	width: 100%;
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	&:hover {
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
	}
}

// client logos
.icon-slider-wrapper {
	overflow: hidden;
}

.icon-slider {
	background: url('../img/icon-slider.png') repeat-x;
	height: 150px;
	width: 9600px;
	animation: slide 25s linear infinite;
}

@keyframes slide {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(-3200px, 0, 0);
	}
}