// IMPORT
@import 'variables';
@import 'mixins';

// RESPONSIVE MARGIN
.responsiveMar {
  margin-top: 5px;
}

// MENU COLLAPSE
.menuCollapse {
  display: none;
  visibility: hidden;
  cursor: pointer;
}

.menuCollapseItems {
  visibility: visible;
}

.menuBurger {
  padding: 0 !important;
}

// MEDIA QUERIES
@media screen and (max-width: 768px) {
  .responsiveText {
    text-align: left;
  }
  .right {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 576px) {
  .menuCollapse {
    display: inline;
    visibility: visible;
  }
  .menuCollapseItems {
    display: none;
    visibility: hidden;
  }
  .responsiveWrap {
    display: flex;
    justify-content: space-between;
  }
  .projectIcon {
    margin-right: 0;
    margin-left: 0;
  }
  .faIconDark,
  .faIconLight {
    margin-right: 0;
    margin-left: 0;
  }
  .responsiveText {
    margin-bottom: 0;
  }
  .right {
    text-align: left;
  }
  .lineThinFooter {
    margin-top: 10px;
  }
  .lineThin {
    margin-top: 0;
  }
  .responsive {
    margin-bottom: 0;
  }
  .typeWrap h1 {
    font-size: 1.6em;
  }
}

@media screen and (max-width: 480px) {
  .typeWrap h1 {
    font-size: 1.4em;
  }
  .filterWrap {
    display: block;
  }
  .filterItemDark,
  .filterItemLight {
    margin-top: 10px;
  }
  .responsiveFooterWrap {
    display: block;
  }
  .responsiveCopyRight{
    margin-left: 0;
  }
  .weatherWrap {
    justify-content: space-between;
  }
  // .navWrap {
  //   display: block;
  // }
  // .navItemDark,.navItemLight {
  //   margin-right: 13px;
  //   margin-left: 0;
  // }

  // .lineNoMar {
  //   margin-top: 5px;
  // }
  // .projectIcon {
  //   font-size: 25px;
  //   margin-right: 10px;
  //   margin-bottom: 0;
  // }
  // .faIconDark,
  // .faIconLight {
  //   font-size: 25px;
  //   margin-right: 10px;
  // }
  // .lineThin {
  //   margin-top: 0;
  // }
  // .projectListItem {
  //   font-size: 1em;
  // }
}

@media screen and (max-width: 390px) {
  // p {
  //   font-size: 0.9em;
  // }
  // h2 {
  //   font-size: 1.4em;
  // }
}
