// IMPORT
@import 'variables';
@import 'mixins';

// TEXT COLOURS
.textGreen {
  color: $green;
}

.textGrey {
  color: $grey;
}

.textPeach {
  color: $peach;
}

.textPink {
  color: $pink;
}

.textLightGrey {
  color: $lightGrey;
}

// TEXT WEIGHTS
.text100 {
  font-weight: $thin;
}

.text300 {
  font-weight: $light;
}

.text400 {
  font-weight: $regular;
}

.text700 {
  font-weight: $bold;
}
