// VARIABLES
$white: #fff;
$black: #000;
$black-t: rgba(0, 0, 0, 0.850);
$grey-t: rgba(21, 21, 21, 0.800);

// COLOURS
$blue: #61dafb;
$green: #2bb673;
$grey: #292929;
$peach: #ff6666;
$pink: #ff99ff;
$peachPink: #ec407a;
$yellow: #f5de19;

// LIGHT COLOURS
$lightGrey: #616161;
$spotGrey: #b6b6b6;

// FONT
$font: 'Roboto', sans-serif;

// FONT WEIGHTS
$thin: 100;
$light: 300;
$regular: 400;
$bold: 700;

// TRANSITIONS
$speed: all 0.2s ease-in-out;
