// VARIABLES
$white: #fff;
$black: #000;
$black-t: rgba(0, 0, 0, 0.850);
$grey-t: rgba(21, 21, 21, 0.600);
$lightGrey-t: rgba(21, 21, 21, 0.150);
$spotGrey-t: rgba(138, 138, 138, 0.150);

// COLOURS
$blue: #61dafb;
$green: #65b1fc;
$grey: #292929;
$peach: #ff6666;
$pink: #ff99ff;
$peachPink: #ec407a;
$yellow: #ffda45;

// LIGHT COLOURS
$lightGrey: #616161;
$spotGrey: #b6b6b6;

// WEATHER ICONS
$color-sun: #EDC951;
$color-cloud: #00A0B0;
$color-cloud-light: #00cee3;
$color-cloud-dark: #008997;
$color-rain-cloud: #666;
$color-rain-cloud-light: #999;
$color-rain-cloud-dark: #555;
$color-snow-cloud: #CCC;
$color-main-background: #222;
$color-rainbow-red: #BD1E52;
$color-rainbow-red: #BD1E52;
$color-rainbow-orange: #E88024;
$color-rainbow-yellow: #F8CB10;
$color-rainbow-green: #899C3B;

// FONT
$font: 'Roboto', sans-serif;

// FONT WEIGHTS
$thin: 100;
$light: 300;
$regular: 400;
$bold: 700;

// TRANSITIONS
$speed: all 0.2s ease-in-out;
